@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #fdf0e6;
}
.logo {
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  border-radius: 50%;
}

.cosik h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 2vh;
  font-weight: 700;
  color: #f08e80;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
}

.buttons {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.buttons a {
  color: white;
}
.button {
  background-color: #f08e80;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  font-weight: 500;
  font-size: 18px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  box-shadow: 8px 7px rgba(0, 0, 0, 0.05);
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  gap: 5rem;
  font-weight: 700;
  font-size: 20px;
  color: #f08e80;
}

i {
  background-color: transparent;
}

.buttons-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: scale(1.175);
}

.buttons-icons a {
  color: #f08e80;
}

@media only screen and (max-width:550px) {
  .container {
    align-items: center;
    justify-content: center;
  }
}